<!DOCTYPE html>
html(lang="es")
    head
        include partials/header
        link(rel="stylesheet", href="/awesome-notifications/dist/style.css")
        script(src='/awesome-notifications/dist/index.var.js')
        script(src='/js/funciones/notificaciones.js')
    body.login
        .contenedor-formulario

            h1= nombrePagina
            p Nuevo password

            form.caja-login(method='POST')
                .campo
                    label(for='password') Password
                    input(type='password' name='password' placeholder='Guardar password' )
                
                .campo.enviar
                    input#enviar.boton(type='submit' value='Nuevo password')

        if locals.mensajes.correcto
            .alertas
                script. 
                    console.log(!{JSON.stringify(locals.mensajes)})
                    informar(!{JSON.stringify(locals.mensajes)}, '/iniciar-sesion')
        
        if locals.mensajes.error
            .alertas
                script. 
                    console.log(!{JSON.stringify(locals.mensajes)})
                    alerta(!{JSON.stringify(locals.mensajes)})

        script(src='/dist/bundle.js')