<!DOCTYPE html>
html(lang="es")
    head
        include partials/header
        link(rel="stylesheet", href="/awesome-notifications/dist/style.css")
        script(src='/awesome-notifications/dist/index.var.js')
        script(src='/js/funciones/notificaciones.js')
    body.login  
        .contenedor-formulario
            br
            img#logo(src='/images/logo.png')
            h1= nombrePagina
            p Agrega tu Email para reestablecer la contraseña
            
            form.caja-login(method='POST' action='/resetPassword')
                .campo
                    label(for='email') E-mail
                    input(type='email' name='email' placeholder='Tú email' value=email)
                
                .campo.enviar
                    input#enviar.boton(type='submit' value='Reestablecer password')
                
                .campo.acciones  
                    a(href='/iniciar-sesion') Ya me acuerdo, volver al login.
            
        if locals.mensajes.info
            .alertas
                script. 
                    console.log(!{JSON.stringify(locals.mensajes)})
                    informar(!{JSON.stringify(locals.mensajes)}, '/iniciar-sesion')
        
        if locals.mensajes.error
            .alertas
                script. 
                    console.log(!{JSON.stringify(locals.mensajes)})
                    alerta(!{JSON.stringify(locals.mensajes)})

        script(src='/dist/bundle.js')